@model progettoUMRidolfiPagani.ViewModels.DashboardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}
<div id="dashboard" class="container">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Numero Totale Articoli</h5>
                    <p class="card-text">{{ numeroTotaleArticoli }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Articoli In Magazzino</h5>
                    <p class="card-text">{{ articoliInMagazzino }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Numero Totale Movimenti</h5>
                    <p class="card-text">{{ numeroTotaleMovimenti }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posizioni Disponibili</h5>
                    <p class="card-text">{{ numeroPosizioniDisponibili }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Articoli Difettosi</h5>
                    <p class="card-text">{{ articoliDifettosi }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
        <h3>Movimenti per Tipo</h3>
        <ul>
            <li v-for="([tipo, count], index) in movimentiPerTipo" :key="index" v-if="tipo !== '$id'">
                {{ tipo }}: {{ count }}
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Media Giorni Permanenza Articoli</h3>
        <canvas id="graficoMediaGiorniPermanenza" width="400" height="200"></canvas>
    </div>
</div>




</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="/js/dashboard.js"></script>