@model progettoUMRidolfiPagani.Models.Storico

@{
    ViewData["Title"] = "Elimina Storico";
}

<h1>Sei sicuro di voler eliminare questo storico?</h1>

<div>
    <h4>Storico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataOperazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataOperazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizioneOperazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizioneOperazione)
        </dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Annulla</a>
    </div>
</form>
