@model progettoUMRidolfiPagani.Models.Storico

@{
    ViewData["Title"] = "Modifica Storico";
}

<h1>Modifica Storico</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="DataOperazione" class="control-label"></label>
        <input asp-for="DataOperazione" class="form-control" />
        <span asp-validation-for="DataOperazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DescrizioneOperazione" class="control-label"></label>
        <input asp-for="DescrizioneOperazione" class="form-control" />
        <span asp-validation-for="DescrizioneOperazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salva modifiche" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>
