@model progettoUMRidolfiPagani.ViewModels.CreateArticoloViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Registra Articolo";
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div id="nuovo-articolo" class="container mt-4">
        <h3 class="mb-4">Registra Nuovo Articolo</h3> 
        <div class="card mb-4">
            <div class="card-header">
                Dati Articolo
            </div>
            <div class="card-body">
                <div class="form-group mb-3">
                    <label asp-for="Codice" class="control-label">Codice Articolo</label>
                    <input type="text" class="form-control" v-model="codice" id="Codice" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Descrizione" class="control-label">Descrizione Articolo</label>
                    <input type="text" class="form-control" v-model="descrizione" id="Descrizione" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Stato" class="control-label">Stato dell'Articolo</label>
                    <select asp-for="Stato" class="form-control" v-model="stato" id="Stato">
                        <option value="In Magazzino">In Magazzino</option>
                        <option value="Reparto">Reparto</option>
                        <option value="Difettoso">Difettoso</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Quantita" class="control-label">Quantità</label>
                    <input type="number" class="form-control" v-model="quantita" id="Quantita" />
                </div>

                <div v-if="showPosizione" class="form-group mb-3">
                    <label for="posizioneSelect">Seleziona una Posizione Libera</label>
                    <select v-model="selectedPosizione" class="form-control" id="posizioneSelect">
                        <option v-for="posizione in posizioniLibere" :key="posizione.id" :value="posizione.id">
                            {{ posizione.codicePosizione }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body text-center">
                <input type="hidden" asp-for="DataArrivo" value="@DateTime.Now" />
                <button type="button" class="btn btn-primary" @@click="createArticolo">Registra</button>
                <a href="/Articoli" class="btn btn-secondary ms-2" style=" margin: 0 5px;">Torna alla pagina principale</a>
            </div>
        </div>


    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="/js/nuovo-articolo.js"></script>
