@model progettoUMRidolfiPagani.ViewModels.DeleteArticoloViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Uscita Articolo";
}
<h2>Uscita Articolo</h2>

<div id="uscita-articolo">
    @Html.AntiForgeryToken()
    <div>
        <p><strong>Codice:</strong> @Model.Codice</p>
        <p><strong>Descrizione:</strong> @Model.Descrizione</p>
        <p><strong>Stato:</strong> @Model.Stato</p>
        <p><strong>Posizione Corrente:</strong> {{ codicePosizioneCorrente }}</p>
        <div class="form-group">
            <label for="quantita">Quantità da fare uscire:</label>
            <input type="number" v-model="quantita" class="form-control" min="1" :max="quantita" required />
        </div>
    </div>

    <div>
        <p>Vuoi fare uscire l'articolo?</p>
        <button class="btn btn-danger" @@click="confermaUscita">Si, procedi con l'eliminazione</button>
        <a href="/Articoli" class="btn btn-secondary">No, torna alla pagina principale</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="/js/uscita-articolo.js"></script>

