@model progettoUMRidolfiPagani.ViewModels.DetailsArticoloViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dettagli Articolo";
}

<div id="dettagliArticolo" data-articolo-id="@Model.Id" class="container mt-4">
    <div class="card mb-4">
        <div class="card-header">
            <h3>Dettagli Articolo - Codice: @Model.Codice</h3>
        </div>
        <div class="card-body">
            <h4>Informazioni Articolo</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Codice</dt>
                <dd class="col-sm-9">{{ articolo?.codice }}</dd>

                <dt class="col-sm-3">Descrizione</dt>
                <dd class="col-sm-9">{{ articolo?.descrizione }}</dd>

                <dt class="col-sm-3">Quantità</dt>
                <dd class="col-sm-9">{{ articolo?.quantita }}</dd>

                <dt class="col-sm-3">Stato</dt>
                <dd class="col-sm-9">{{ articolo?.stato }}</dd>
            </dl>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h4>Movimenti dell'Articolo</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table" v-if="movimenti.length > 0">
                <thead>
                    <tr>
                        <th>Data Movimento</th>
                        <th>Tipo Movimento</th>
                        <th>Quantità</th>
                        <th>Posizione Iniziale</th>
                        <th>Posizione Finale</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="movimento in movimenti" :key="movimento.id">
                        <td>{{ movimento.dataMovimento }}</td>
                        <td>{{ movimento.tipoMovimento }}</td>
                        <td>{{ movimento.quantita }}</td>
                        <td>{{ movimento.posizioneIniziale }}</td>
                        <td>{{ movimento.posizioneFinale }}</td>
                    </tr>
                </tbody>
            </table>
            <p v-else>Nessun movimento trovato per questo articolo.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <a href="/Articoli" class="btn btn-secondary">Torna alla pagina principale</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="/js/dettagli-articolo.js"></script>
