@model progettoUMRidolfiPagani.ViewModels.ArticoloViewModel

@{
    ViewData["Title"] = "Modifica Articolo";
}

<h1>Modifica Articolo</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Codice" class="control-label"></label>
        <input asp-for="Codice" class="form-control" />
        <span asp-validation-for="Codice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descrizione" class="control-label"></label>
        <input asp-for="Descrizione" class="form-control" />
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantita" class="control-label"></label>
        <input asp-for="Quantita" class="form-control" />
        <span asp-validation-for="Quantita" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PosizioneId" class="control-label">Posizione</label>
        <select asp-for="PosizioneId" class="form-control" asp-items="ViewBag.Posizioni"></select>
        <span asp-validation-for="PosizioneId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salva modifiche" class="btn btn-primary" />
        <a href="@Url.Action("Index")" class="btn btn-secondary">Annulla</a>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
