@model progettoUMRidolfiPagani.ViewModels.ArticoliViewModel

@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" />

<div id="articoli" class="container mt-4">

    <!-- Card per la ricerca -->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Ricerca Articoli</h3>
        </div>
        <div class="card-body">
            <!-- Form per la ricerca per codice -->
            <form @@submit.prevent="searchByCodice" class="mb-3">
                <div class="input-group">
                    <input type="text" v-model="codice" class="form-control" placeholder="Cerca per codice">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Cerca</button>
                    </div>
                </div>

            </form>
            <div v-if="articoloTrovatoPerCodice === 'Nessun articolo trovato'" class="alert alert-danger mt-3 alert-no-article">
            <p >{{ articoloTrovatoPerCodice}}</p>
            </div>

            <!-- Form per la ricerca per posizione -->
            <form @@submit.prevent="searchByPosizione">
                <div class="input-group">
                    <input type="text" v-model="posizione" class="form-control" placeholder="Cerca per posizione">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Cerca</button>
                    </div>
                </div>

            </form>
            <div v-if="articoloTrovatoPerPosizione === 'Nessun articolo trovato'" class="alert alert-danger mt-3 alert-no-article">
                <p>{{ articoloTrovatoPerPosizione }}</p>
            </div>
        </div>
    </div>

    <div v-if="articoloTrovatoPerCodice && articoloTrovatoPerCodice !== 'Nessun articolo trovato'" class="card mb-4">
        <div class="card-header">
            <h3>Risultato della ricerca per codice</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Codice</th>
                    <th>Descrizione</th>
                    <th>Quantità</th>
                    <th>Posizione</th>
                        <th class="text-center">Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ articoloTrovatoPerCodice.codice }}</td>
                    <td>{{ articoloTrovatoPerCodice.descrizione }}</td>
                    <td>{{ articoloTrovatoPerCodice.quantita }}</td>
                    <td>{{ articoloTrovatoPerCodice.codicePosizione }}</td>
                        <td class="text-center">
                        <a :href="`/Articoli/Edit/${articoloTrovatoPerCodice.id}`" v-if="articoloTrovatoPerCodice.stato !== 'Reparto'" class="btn btn-primary btn-sm">Sposta</a>
                        <a :href="`/Articoli/Delete/${articoloTrovatoPerCodice.id}`" v-if="articoloTrovatoPerCodice.stato !== 'Reparto'" class="btn btn-danger btn-sm">Uscita</a>
                        <a :href="`/Articoli/Details/${articoloTrovatoPerCodice.id}`" class="btn btn-primary btn-sm">Dettagli Movimenti</a>
                    </td>
                </tr>
            </tbody>
        </table>
            </div>
        </div>
    </div>

    <div v-if="articoloTrovatoPerPosizione && articoloTrovatoPerPosizione !== 'Nessun articolo trovato'" class="card mb-4">
        <div class="card-header">
            <h3>Risultato della ricerca per posizione</h3>
        </div>
        <div class="card-body">
                <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Codice</th>
                    <th>Descrizione</th>
                    <th>Quantità</th>
                    <th>Posizione</th>
                        <th class="text-center">Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ articoloTrovatoPerPosizione.codice }}</td>
                    <td>{{ articoloTrovatoPerPosizione.descrizione }}</td>
                    <td>{{ articoloTrovatoPerPosizione.quantita }}</td>
                    <td>{{ articoloTrovatoPerPosizione.codicePosizione }}</td>
                        <td class="text-center">
                            <a :href="`/Articoli/Edit/${articoloTrovatoPerPosizione.id}`" v-if="articoloTrovatoPerPosizione.stato !== 'Reparto'" class="btn btn-primary btn-sm">Sposta</a>
                            <a :href="`/Articoli/Delete/${articoloTrovatoPerPosizione.id}`" v-if="articoloTrovatoPerPosizione.stato !== 'Reparto'" class="btn btn-danger btn-sm">Uscita</a>
                        <a :href="`/Articoli/Details/${articoloTrovatoPerPosizione.id}`" class="btn btn-primary btn-sm">Dettagli Movimenti</a>
                    </td>
                </tr>
            </tbody>
        </table>
                </div>
        </div>
    </div>

    <!-- Card per mostrare il totale degli articoli e difettosi -->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Informazioni Articoli</h3>
        </div>
        <div class="card-body">
                    <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Totale Articoli</th>
                        <th>Numero Articoli Difettosi</th>
                       </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ totaleArticoli}}</td>
                        <td>{{ articoliDifettosi}}</td>
                    </tr>
                </tbody>
            </table>
                    </div>
            <button class="btn btn-primary mt-3" @@click="searchArticoloPiuVecchio">Articolo più vecchio</button>
        </div>
    </div>

    <!-- Card per la lista degli articoli -->
    <div class="card mb-4" v-if="articoloPiuVecchio">
        <div class="card-header">
            <h3>Articolo piu' vecchio</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Descrizione</th>
                        <th>Quantità</th>
                        <th>Posizione</th>
                        <th class="text-center">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ articoloPiuVecchio.codice }}</td>
                        <td>{{ articoloPiuVecchio.descrizione }}</td>
                        <td>{{ articoloPiuVecchio.quantita }}</td>
                        <td>{{ articoloPiuVecchio.codicePosizione }}</td>
                        <td class="text-center">
                            <a :href="`/Articoli/Edit/${articoloPiuVecchio.id}`" v-if="articoloPiuVecchio.stato !== 'Reparto'" class="btn btn-primary btn-sm">Sposta</a>
                            <a :href="`/Articoli/Delete/${articoloPiuVecchio.id}`" v-if="articoloPiuVecchio.stato !== 'Reparto'" class="btn btn-danger btn-sm">Uscita</a>
                            <a :href="`/Articoli/Details/${articoloPiuVecchio.id}`" class="btn btn-primary btn-sm">Dettagli Movimenti</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>


    <!-- Card per la lista degli articoli -->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Lista degli Articoli</h3>
        </div>
        <div class="card-body">
            <a href="/Articoli/Create" class="btn btn-primary mb-3">Registra Nuovo Articolo</a>
            <br />
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Descrizione</th>
                        <th>Quantità</th>
                        <th>Posizione</th>
                        <th class="text-center">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="articolo in articoli" :key="articolo.id">
                        <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.codice }}</td>
                        <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.descrizione }}</td>
                        <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.quantita }}</td>
                        <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.codicePosizione }}</td>
                        <td class="text-center">
                            <a :href="`/Articoli/Edit/${articolo.id}`" v-if="articolo.stato !== 'Reparto'" class="btn btn-primary btn-sm">Sposta</a>
                            <a :href="`/Articoli/Delete/${articolo.id}`" v-if="articolo.stato !== 'Reparto'" class="btn btn-danger btn-sm">Uscita</a>
                            <a :href="`/Articoli/Details/${articolo.id}`" class="btn btn-primary btn-sm">Dettagli Movimenti</a>
                        </td>
                    </tr>
                </tbody>
            </table>
                            </div>
        </div>
    </div>

    <!-- Card per la lista degli articoli in esaurimento -->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Articoli in Esaurimento</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Descrizione</th>
                        <th>Quantità</th>
                        <th>Posizione</th>
                        <th class="text-center">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="articolo in articoliInEsaurimento" :key="articolo.id">
                        <td>{{ articolo.codice }}</td>
                        <td>{{ articolo.descrizione }}</td>
                        <td>{{ articolo.quantita }}</td>
                        <td>{{ articolo.codicePosizione }}</td>
                        <td class="text-center">
                            <a :href="`/Articoli/Edit/${articolo.id}`" v-if="articolo.stato !== 'Reparto'" class="btn btn-primary btn-sm">Sposta</a>
                            <a :href="`/Articoli/Delete/${articolo.id}`" v-if="articolo.stato !== 'Reparto'" class="btn btn-danger btn-sm">Uscita</a>
                            <a :href="`/Articoli/Details/${articolo.id}`" class="btn btn-primary btn-sm">Dettagli Movimenti</a>
                        </td>
                    </tr>
                </tbody>
            </table>
                                </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="/js/articoli.js"></script>
