@model progettoUMRidolfiPagani.ViewModels.ArticoliViewModel

@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" />

<div id="articoli" class="container mt-4">

    <div class="card mb-4">
        <div class="card-header">
            <h3>Lista degli Articoli</h3>
        </div>
        <div class="card-body">
            <a href="/Articoli/Create" class="btn btn-primary mb-3">Registra Nuovo Articolo</a>
            <br />
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Descrizione</th>
                        <th>Quantità</th>
                        <th>Posizione</th>
                        <th class="text-center">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="articolo in articoli" :key="articolo.id">
                        <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.codice }}</td>
                        <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.descrizione }}</td>
                        <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.quantita }}</td>
                        <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.codicePosizione }}</td>
                        <td class="text-center table-actions">
                                <a :href="`/Articoli/Edit/${articolo.id}`" v-if="articolo.stato !== 'Reparto'" class="btn btn-primary btn-sm buttonspace">Sposta</a>
                                <a :href="`/Articoli/Delete/${articolo.id}`" v-if="articolo.stato !== 'Reparto'" class="btn btn-danger btn-sm buttonspace">Uscita</a>
                                <a :href="`/Articoli/Details/${articolo.id}`" class="btn btn-primary btn-sm buttonspace">Dettagli Movimenti</a>
                                <button v-if="articolo.stato === 'Difettoso'" @@click="riparaArticolo(articolo.id)" class="btn btn-warning btn-sm buttonspace">Ripara</button>
                        </td>
                    </tr>
                </tbody>
            </table>
                            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h3>Articoli in Esaurimento</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Descrizione</th>
                        <th>Quantità</th>
                        <th>Posizione</th>
                        <th class="text-center">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="articolo in articoliInEsaurimento" :key="articolo.id">
                            <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.codice }}</td>
                            <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.descrizione }}</td>
                            <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.quantita }}</td>
                            <td :class="{'text-danger': articolo.stato === 'Difettoso'}">{{ articolo.codicePosizione }}</td>
                            <td class="text-center">
                                <div class="d-inline">
                                    <a :href="`/Articoli/Edit/${articolo.id}`" v-if="articolo.stato !== 'Reparto'" class="btn btn-primary btn-sm buttonspace d-inline">Sposta</a>
                                    <a :href="`/Articoli/Delete/${articolo.id}`" v-if="articolo.stato !== 'Reparto'" class="btn btn-danger btn-sm buttonspace d-inline">Uscita</a>
                                    <a :href="`/Articoli/Details/${articolo.id}`" class="btn btn-primary btn-sm buttonspace d-inline">Dettagli Movimenti</a>
                                    <button v-if="articolo.stato === 'Difettoso'" @@click="riparaArticolo(articolo.id)" class="btn btn-warning btn-sm buttonspace d-inline">Ripara</button>
                                </div>
                            </td>

                    </tr>
                </tbody>
            </table>
                                </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="/js/articoli.js"></script>
