@model progettoUMRidolfiPagani.Models.Posizione

@{
    ViewData["Title"] = "Cancella Postazione";
}

<h1>Cancella Postazione</h1>

<h3>Sei sicuro di voler cancellare questa postazione?</h3>
<div>
    <h4>Postazione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome Postazione
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Descrizione
        </dt>
        <dd class="col-sm-10">
            @Model.Descrizione
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancella" class="btn btn-danger" /> |
        <a href="@Url.Action("Index")" class="btn btn-secondary">Annulla</a>
    </form>
</div>
