.text-danger {
    color: red;
    font-weight: bold;
}

.alert-no-article {
    color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
}

.alert-info {
    color: blue;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.buttonspace {
    margin: 2px 5px;
}

.img {
    width: 40px;
    height: auto;
    margin-right: 20px;
}

.table-actions {
    white-space: nowrap; 
    width: 200px;
}