@model progettoUMRidolfiPagani.Models.ArticoloDifettoso

@{
    ViewData["Title"] = "Crea Articolo Difettoso";
}

<h1>Crea Nuovo Articolo Difettoso</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descrizione" class="control-label"></label>
        <input asp-for="Descrizione" class="form-control" />
        <span asp-validation-for="Descrizione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataSegnalazione" class="control-label"></label>
        <input asp-for="DataSegnalazione" class="form-control" />
        <span asp-validation-for="DataSegnalazione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Crea" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>
